enum Action {
{{- range $target, $actions := . }}
{{- range $actions.Content }}
	{{- if ne .LineComment "" }}
	"""
	{{ .LineComment | TrimCommentPrefix }}
	"""
	{{- end }}
  {{ $target -}}_{{- .Value }}
{{- end }}
{{- end }}
}
